@mixin flexProperty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin commonCode($letterSize, $fontStyle:"normal") {
  color: rgb(255, 255, 255);
  font-size: 15rem - 10rem;
  text-transform: $fontStyle;
  letter-spacing: $letterSize;
}